<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/jsp/taglibs.jsp</include-prelude>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <servlet>
        <servlet-name>PremiereServlet</servlet-name>
        <servlet-class>com.servlets.PremiereServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreationClient</servlet-name>
        <servlet-class>com.servlets.CreationClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionTestJDBC</servlet-name>
        <servlet-class>com.servlets.GestionTestJDBC</servlet-class>
    </servlet>

    <!-- mapping -->
    <servlet-mapping>
        <servlet-name>GestionTestJDBC</servlet-name>
        <url-pattern>/testjdbc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PremiereServlet</servlet-name>
        <url-pattern>/PremiereServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreationClient</servlet-name>
        <url-pattern>/creationClient</url-pattern>
    </servlet-mapping>
</web-app>
